* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kufi', Arial;
    direction: rtl;
    transition: .3s ease;
    text-decoration: none;
}

@font-face {
    font-family: 'Kufi';
    src: url('Kufi.ttf');
}

.countdown-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/bg.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

.image img {
    width: 33vw;
    height: 100vh;
}


.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content h1 {
    font-size: 4rem;
    font-weight: 600;
}

.content #button {
    background: transparent;
    padding: 3rem 2rem;
    color: #fff;
    position: relative;
    transition: .3s ease;
}

.content #button::after {
    content: '';
    position: absolute;
    bottom: 2rem;
    right: 34%;
    width: 0;
    height: 3px;
    background-color: #fff;
}

.content #button:hover:after {
    width: 30%;
}

.content #button i {
    font-size: 4rem;
}

.content #countdown {
    display: flex;
    margin: 2rem 0;
}

.content #countdown div {
    flex-basis: 120px;
    text-align: center;
}

.content #countdown div span {
    font-size: 4rem;
    margin-bottom: -14px;
}

.content #countdown div .smalltext {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#rocket {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 35%;
    animation: rocket 4s linear infinite;
}

@keyframes rocket {
    0% {
        bottom: 0;
        opacity: 0;
    }

    100% {
        bottom: 105%;
        opacity: 1;
    }
}






/*=========== MEDIA QUERY ================== 
============================================*/
/*============ SCREEN 991 ===========*/
@media (max-width:991px) {
    .content h1 {
        font-size: 40px;
        font-weight: 600;
    }

    .image img {
        width: 45vw;
    }

    #rocket {
        left: 50%;
    }
}

/*============ SCREEN 768 ===========*/
@media (max-width:768px) {
    .countdown-container {
        display: block;
        flex-direction: column !important;
        height: 150vh;
    }

    .content {
        text-align: center;
        transform: translate(-50%, -50%);
        top: 28%;
        position: relative;
        transform: translateY(-50%);
        color: #fff;
    }

    .content h1 {
        font-size: 3rem;
        font-weight: 600;
    }
    .content #countdown {
        display: flex;
        justify-content: center;
    }
    .content #countdown div {
        text-align: center;
        flex-basis: 120px;
    }

    .content #countdown div span {
        font-size: 4rem;
    }

    .content #countdown div .smalltext {
        font-size: 1.5rem;
    }

    .image {
        display: block;
        position: relative;
        padding-top: 20%;
    }

    .image img {
        width: 80vw;
        height: 50vh;
    }
}

/*============ SCREEN 500 ===========*/
@media (max-width:500px) {
    .countdown-container {
        display: block;
        flex-direction: column !important;
        height: 150vh;
    }

    .content {
        text-align: center;
        transform: translate(-50%, -50%);
        top: 28%;
        position: relative;
        transform: translateY(-50%);
        color: #fff;
    }

    .content h1 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .content #countdown div {
        flex-basis: 100px;
    }

    .content #countdown div span {
        font-size: 3rem;
    }

    .content #countdown div .smalltext {
        font-size: 1rem;
    }

    .content #button i {
        font-size: 3rem;
        position: relative;
        z-index: 99 !important;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 35rem;
    }

    .image img {
        height: 60vh;
        position: absolute;
        z-index: 1 !important;
    }
}